body {
    background: rgb(204,204,204); 
  }
  page {
    background: white;
    display: block;
    margin: 0 auto;
    margin-bottom: 0.5cm;
    box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
  }
  page[size="A4"] {  
    width: 21cm;
    height: 29.7cm; 
  }
  @media print {
    body, page {
      margin: 0;
      box-shadow: 0;
    }
  }
  .grid-item {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
  .section {
    padding: 0 20px;
    font-size: 12px;
  }
  .material-symbols-outlined {
    font-size:40px !important;
    font-variation-settings:
    'FILL' 0,
    'wght' 700,
    'GRAD' 0,
    'opsz' 30;
  }
  .material-symbols-outlined.content {
    transform: translateY(11px);
  }
  .material-symbols-outlined.material-sidebar {
    margin-bottom: 10px;    
    transform: translateY(11px);
    color: grey;
  }
  
    /* *************Sidebar*************** */
  .sidebar {
    background: #dbdbe0;
    color: #ECFFF8;
    box-sizing: border-box;
    min-width: 295px;
    font-family: 'Nunito', sans-serif;
  }

  .image {
    width: 295px;
    height: 384px;
    object-fit: cover;
    margin: 0px -20px;
  }
  .personal-info p{
    margin-top: 0;
  }
  .personal-info h1{
    margin-bottom: 0;
  }
  .personal-info {
    background-color: #474b4d;
    margin: -20px -20px 0px -20px;
    padding: 20px;
  }
  .skills{
    display: flex;
    justify-content: space-between;
    color: gray;
  }
  .main-header.main-sidebar {
    font-family: 'Nunito', sans-serif;
    font-size: x-large;
  }
  .skill-line{
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
    color: grey;
  }
  .skill-name {
    font-weight: bold;
    font-size: larger;
    font-family: 'Nunito', sans-serif;
  }
  .fa-star{
    font-size: large;
    opacity: 0.5;
  }
  .checked {
    opacity: 1;
  }

    /* *************Content*************** */

    .main-content {
      font-family: "Roboto Flex", sans-serif;
      box-sizing: border-box;
    }

    .surname {
      font-family: 'Press Start 2P', cursive;
      font-size: x-large;
      margin-top: 45px;
    }
    .position {
      font-family: 'Press Start 2P', cursive;
      font-size: smaller;
    }

    .phrase-wrap {
      margin: 30px 0;
    }
    .phrase{
      text-align: right;
      margin-left: 184px;
      margin-right: 36px;

      padding: 0;
      font-style: italic;
      font-weight: bold;
      color: #474b4d;
    }
    .main-header{
      font-weight: bold;
      color: #474b4d;
      font-size: x-large;
      margin-top: 20px;
      padding-left: 15px;
    }
    .line-divider {
      width:100%;
      text-align:left;
      margin-left:0
    }
    .hobbies {
      display: flex;
      justify-content: space-around;
      align-items: baseline;
      flex-direction: row;
    }
    .main-description{
      font-size: medium;
    }
    .main-date-part{
      min-width: 70px;
      margin-right: 36px;
      text-align: right;
    }
    .divide-bullets{
      display: flex;
    }
    .consent{
      position: absolute;
      bottom: -1345px;  
      max-width: 450px;
      font-size: smaller;
      color: darkgray;
    }

    @media print {
      .consent{
        bottom: -1115px;  
      }
    }